openapi: 3.0.0
info:
  contact:
    name: API Support (Discord)
    url: http://discord.jikan.moe
  description: "[Jikan](https://jikan.moe) is an **Unofficial** MyAnimeList API.\n\
    It scrapes the website to satisfy the need for a complete API - which MyAnimeList\
    \ lacks.\n\n# Information\n\n⚡ Jikan is powered by it's awesome backers - \U0001f64f\
    \ [Become a backer](https://www.patreon.com/jikan)\n\n## Rate Limiting\n\n| Duration\
    \ | Requests |\n|----|----|\n| Monthly | **Unlimited** |\n| Per Minute | 60 requests\
    \ |\n| Per Second | 3 requests |\n\n\n## JSON Notes\n- Any property (except arrays\
    \ or objects) whose value does not exist or is undetermined, will be `null`.\n\
    - Any array or object property whose value does not exist or is undetermined,\
    \ will be empty.\n- Any `score` property whose value does not exist or is undetermined,\
    \ will be `0`.\n- All dates and timestamps are returned in [ISO8601](https://en.wikipedia.org/wiki/ISO_8601)\
    \ format and in UTC timezone\n\n## Caching\nBy **CACHING**, we refer to the data\
    \ parsed from MyAnimeList which is stored temporarily on our servers to provide\
    \ better API performance.\n\nAll requests, by default are cached for **24 hours**\
    \ except the following endpoints which have their own unique cache **Time To Live**.\
    \ \n\n| Request | TTL |\n| ---- | ---- |\n| All (Default) | 24 hours |\n\n\nThe\
    \ following response headers will detail cache information.\n\n| Header | Remarks\
    \ |\n| ---- | ---- |\n| `Expires` | Cache expiry date |\n| `Last-Modified` | Cache\
    \ set date |\n| `X-Request-Fingerprint` | Unique request fingerprint |\n\n\nNote:\
    \ Caching headers will only be available on single resource requests and their\
    \ child endpoints. e.g `/anime/1`, `/anime/1/relations`. \nThey won't be available\
    \ on pages which perform queries, like /anime, or /top/anime, etc.\n\n## Allowed\
    \ HTTP(s) requests\n\n**Jikan REST API does not provide authenticated requests\
    \ for MyAnimeList.** This means you can not use it to update your anime/manga\
    \ list.\nOnly GET requests are supported which return READ-ONLY data.\n\n## HTTP\
    \ Responses\n\n| HTTP Status | Remarks |\n| ---- | ---- |\n| `200 - OK` | The\
    \ request was successful |\n| `304 - Not Modified` | You have the latest data\
    \ (Cache Validation response) |\n| `400 - Bad Request` | You've made an invalid\
    \ request. Recheck documentation |\n| `404 - Not Found` | The resource was not\
    \ found or MyAnimeList responded with a `404` |\n| `405 - Method Not Allowed`\
    \ | Requested Method is not supported for resource. Only `GET` requests are allowed\
    \ |\n| `429 - Too Many Request` | You are being rate limited by Jikan or MyAnimeList\
    \ is rate-limiting our servers (specified in the error response) |\n| `500 - Internal\
    \ Server Error` | Something is not working on our end. If you see an error response\
    \ with a `report_url` URL, please click on it to open an auto-generated GitHub\
    \ issue |\n| `503 - Service Unavailable` | The service has broke. |\n\n\n## JSON\
    \ Error Response\n\n```json\n {\n     \"status\": 404,\n     \"type\": \"BadResponseException\"\
    ,\n     \"message\": \"Resource does not exist\",\n     \"error\": \"Something\
    \ Happened\",\n     \"report_url\": \"https://github.com...\"\n  }\n```\n\n| Property\
    \ | Remarks |\n| ---- | ---- |\n| `status` | Returned HTTP Status Code |\n| `type`\
    \ | Thrown Exception |\n| `message` | Human-readable error message |\n| `error`\
    \ | Error response and trace from the API |\n| `report_url` | Clicking this would\
    \ redirect you to a generated GitHub issue. ℹ It's only returned on a parser error.\
    \ |\n\n\n## Cache Validation\n\n- All requests return a `ETag` header which is\
    \ an MD5 hash of the response\n- You can use this hash to verify if there's new\
    \ or updated content by suppliying it as the value for the `If-None-Match` in\
    \ your next request header\n- You will get a HTTP `304 - Not Modified` response\
    \ if the content has not changed\n- If the content has changed, you'll get a HTTP\
    \ `200 - OK` response with the updated JSON response\n\n![Cache Validation](https://i.imgur.com/925ozVn.png\
    \ 'Cache Validation')\n\n## Disclaimer\n\n- Jikan is not affiliated with MyAnimeList.net.\n\
    - Jikan is a free, open-source API. Please use it responsibly.\n\n----\n\nBy using\
    \ the API, you are agreeing to Jikan's [terms of use](https://jikan.moe/terms)\
    \ policy.\n\n[v3 Documentation](https://jikan.docs.apiary.io/) - [Wrappers/SDKs](https://github.com/jikan-me/jikan#wrappers)\
    \ - [Report an issue](https://github.com/jikan-me/jikan-rest/issues/new) - [Host\
    \ your own server](https://github.com/jikan-me/jikan-rest)"
  license:
    name: MIT
    url: https://github.com/jikan-me/jikan-rest/blob/master/LICENSE
  termsOfService: https://jikan.moe/terms
  title: Jikan API
  version: 4.0.0
externalDocs:
  description: About
  url: https://jikan.moe
servers:
- description: Jikan REST API Beta
  url: https://api.jikan.moe/v4
paths:
  /anime/{id}/full:
    get:
      operationId: getAnimeFullById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAnimeFullById_200_response'
          description: Returns complete anime resource data
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - anime
      x-accepts: application/json
  /anime/{id}:
    get:
      operationId: getAnimeById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAnimeById_200_response'
          description: Returns anime resource
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - anime
      x-accepts: application/json
  /anime/{id}/characters:
    get:
      operationId: getAnimeCharacters
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anime_characters'
          description: Returns anime characters resource
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - anime
      x-accepts: application/json
  /anime/{id}/staff:
    get:
      operationId: getAnimeStaff
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anime_staff'
          description: Returns anime staff resource
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - anime
      x-accepts: application/json
  /anime/{id}/episodes:
    get:
      operationId: getAnimeEpisodes
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anime_episodes'
          description: Returns a list of anime episodes
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - anime
      x-accepts: application/json
  /anime/{id}/episodes/{episode}:
    get:
      operationId: getAnimeEpisodeById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: episode
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAnimeEpisodeById_200_response'
          description: Returns a single anime episode resource
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - anime
      x-accepts: application/json
  /anime/{id}/news:
    get:
      operationId: getAnimeNews
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anime_news'
          description: Returns a list of news articles related to the entry
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - anime
      x-accepts: application/json
  /anime/{id}/forum:
    get:
      operationId: getAnimeForum
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: Filter topics
        explode: true
        in: query
        name: filter
        required: false
        schema:
          enum:
          - all
          - episode
          - other
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forum'
          description: Returns a list of forum topics related to the entry
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - anime
      x-accepts: application/json
  /anime/{id}/videos:
    get:
      operationId: getAnimeVideos
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anime_videos'
          description: Returns videos related to the entry
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - anime
      x-accepts: application/json
  /anime/{id}/videos/episodes:
    get:
      operationId: getAnimeVideosEpisodes
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anime_videos_episodes'
          description: Returns episode videos related to the entry
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - anime
      x-accepts: application/json
  /anime/{id}/pictures:
    get:
      operationId: getAnimePictures
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pictures_variants'
          description: Returns pictures related to the entry
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - anime
      x-accepts: application/json
  /anime/{id}/statistics:
    get:
      operationId: getAnimeStatistics
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anime_statistics'
          description: Returns anime statistics
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - anime
      x-accepts: application/json
  /anime/{id}/moreinfo:
    get:
      operationId: getAnimeMoreInfo
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/moreinfo'
          description: Returns anime statistics
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - anime
      x-accepts: application/json
  /anime/{id}/recommendations:
    get:
      operationId: getAnimeRecommendations
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entry_recommendations'
          description: Returns anime recommendations
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - anime
      x-accepts: application/json
  /anime/{id}/userupdates:
    get:
      operationId: getAnimeUserUpdates
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anime_userupdates'
          description: Returns a list of users who have added/updated/removed the
            entry on their list
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - anime
      x-accepts: application/json
  /anime/{id}/reviews:
    get:
      operationId: getAnimeReviews
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anime_reviews'
          description: Returns anime reviews
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - anime
      x-accepts: application/json
  /anime/{id}/relations:
    get:
      operationId: getAnimeRelations
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAnimeRelations_200_response'
          description: Returns anime relations
      tags:
      - anime
      x-accepts: application/json
  /anime/{id}/themes:
    get:
      operationId: getAnimeThemes
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anime_themes'
          description: Returns anime themes
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - anime
      x-accepts: application/json
  /anime/{id}/external:
    get:
      operationId: getAnimeExternal
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/external_links'
          description: Returns anime external links
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - anime
      x-accepts: application/json
  /anime/{id}/streaming:
    get:
      operationId: getAnimeStreaming
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/external_links'
          description: Returns anime streaming links
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - anime
      x-accepts: application/json
  /characters/{id}/full:
    get:
      operationId: getCharacterFullById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCharacterFullById_200_response'
          description: Returns complete character resource data
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - characters
      x-accepts: application/json
  /characters/{id}:
    get:
      operationId: getCharacterById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCharacterById_200_response'
          description: Returns character resource
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - characters
      x-accepts: application/json
  /characters/{id}/anime:
    get:
      operationId: getCharacterAnime
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/character_anime'
          description: Returns anime that character is in
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - characters
      x-accepts: application/json
  /characters/{id}/manga:
    get:
      operationId: getCharacterManga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/character_manga'
          description: Returns manga that character is in
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - characters
      x-accepts: application/json
  /characters/{id}/voices:
    get:
      operationId: getCharacterVoiceActors
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/character_voice_actors'
          description: Returns the character's voice actors
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - characters
      x-accepts: application/json
  /characters/{id}/pictures:
    get:
      operationId: getCharacterPictures
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/character_pictures'
          description: Returns pictures related to the entry
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - characters
      x-accepts: application/json
  /clubs/{id}:
    get:
      operationId: getClubsById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getClubsById_200_response'
          description: Returns Club Resource
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - clubs
      x-accepts: application/json
  /clubs/{id}/members:
    get:
      operationId: getClubMembers
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getClubMembers_200_response'
          description: Returns Club Members Resource
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - clubs
      x-accepts: application/json
  /clubs/{id}/staff:
    get:
      operationId: getClubStaff
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/club_staff'
          description: Returns Club Staff
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - clubs
      x-accepts: application/json
  /clubs/{id}/relations:
    get:
      operationId: getClubRelations
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/club_relations'
          description: Returns Club Relations
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - clubs
      x-accepts: application/json
  /genres/anime:
    get:
      operationId: getAnimeGenres
      parameters:
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/genre_query_filter'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/genres'
          description: "Returns entry genres, explicit_genres, themes and demographics"
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - genres
      x-accepts: application/json
  /genres/manga:
    get:
      operationId: getMangaGenres
      parameters:
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/genre_query_filter'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/genres'
          description: "Returns entry genres, explicit_genres, themes and demographics"
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - genres
      x-accepts: application/json
  /magazines:
    get:
      operationId: getMagazines
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: order_by
        required: false
        schema:
          $ref: '#/components/schemas/magazines_query_orderby'
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          $ref: '#/components/schemas/search_query_sort'
        style: form
      - description: Return entries starting with the given letter
        explode: true
        in: query
        name: letter
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/magazines'
          description: Returns magazines collection
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - magazines
      x-accepts: application/json
  /manga/{id}/full:
    get:
      operationId: getMangaFullById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getMangaFullById_200_response'
          description: Returns complete manga resource data
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - manga
      x-accepts: application/json
  /manga/{id}:
    get:
      operationId: getMangaById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getMangaById_200_response'
          description: Returns pictures related to the entry
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - manga
      x-accepts: application/json
  /manga/{id}/characters:
    get:
      operationId: getMangaCharacters
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/manga_characters'
          description: Returns manga characters resource
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - manga
      x-accepts: application/json
  /manga/{id}/news:
    get:
      operationId: getMangaNews
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/manga_news'
          description: Returns a list of manga news topics
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - manga
      x-accepts: application/json
  /manga/{id}/forum:
    get:
      operationId: getMangaTopics
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: Filter topics
        explode: true
        in: query
        name: filter
        required: false
        schema:
          enum:
          - all
          - episode
          - other
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forum'
          description: Returns a list of manga forum topics
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - manga
      x-accepts: application/json
  /manga/{id}/pictures:
    get:
      operationId: getMangaPictures
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/manga_pictures'
          description: Returns a list of manga pictures
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - manga
      x-accepts: application/json
  /manga/{id}/statistics:
    get:
      operationId: getMangaStatistics
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/manga_statistics'
          description: Returns anime statistics
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - manga
      x-accepts: application/json
  /manga/{id}/moreinfo:
    get:
      operationId: getMangaMoreInfo
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/moreinfo'
          description: Returns manga moreinfo
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - manga
      x-accepts: application/json
  /manga/{id}/recommendations:
    get:
      operationId: getMangaRecommendations
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entry_recommendations'
          description: Returns manga recommendations
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - manga
      x-accepts: application/json
  /manga/{id}/userupdates:
    get:
      operationId: getMangaUserUpdates
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/manga_userupdates'
          description: Returns manga user updates
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - manga
      x-accepts: application/json
  /manga/{id}/reviews:
    get:
      operationId: getMangaReviews
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/manga_reviews'
          description: Returns manga reviews
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - manga
      x-accepts: application/json
  /manga/{id}/relations:
    get:
      operationId: getMangaRelations
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAnimeRelations_200_response'
          description: Returns manga relations
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - manga
      x-accepts: application/json
  /manga/{id}/external:
    get:
      operationId: getMangaExternal
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/external_links'
          description: Returns manga external links
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - manga
      x-accepts: application/json
  /people/{id}/full:
    get:
      operationId: getPersonFullById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getPersonFullById_200_response'
          description: Returns complete character resource data
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - people
      x-accepts: application/json
  /people/{id}:
    get:
      operationId: getPersonById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getPersonById_200_response'
          description: Returns pictures related to the entry
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - people
      x-accepts: application/json
  /people/{id}/anime:
    get:
      operationId: getPersonAnime
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/person_anime'
          description: Returns person's anime staff positions
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - people
      x-accepts: application/json
  /people/{id}/voices:
    get:
      operationId: getPersonVoices
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/person_voice_acting_roles'
          description: Returns person's voice acting roles
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - people
      x-accepts: application/json
  /people/{id}/manga:
    get:
      operationId: getPersonManga
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/person_manga'
          description: Returns person's published manga works
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - people
      x-accepts: application/json
  /people/{id}/pictures:
    get:
      operationId: getPersonPictures
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/person_pictures'
          description: Returns a list of pictures of the person
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - people
      x-accepts: application/json
  /producers/{id}:
    get:
      operationId: getProducerById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getProducerById_200_response'
          description: Returns producer resource
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - producers
      x-accepts: application/json
  /producers/{id}/full:
    get:
      operationId: getProducerFullById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getProducerFullById_200_response'
          description: Returns producer resource
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - producers
      x-accepts: application/json
  /producers/{id}/external:
    get:
      operationId: getProducerExternal
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/external_links'
          description: Returns producer's external links
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - producers
      x-accepts: application/json
  /random/anime:
    get:
      operationId: getRandomAnime
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAnimeById_200_response'
          description: Returns a random anime resource
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - random
      x-accepts: application/json
  /random/manga:
    get:
      operationId: getRandomManga
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getMangaById_200_response'
          description: Returns a random manga resource
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - random
      x-accepts: application/json
  /random/characters:
    get:
      operationId: getRandomCharacters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCharacterById_200_response'
          description: Returns a random character resource
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - random
      x-accepts: application/json
  /random/people:
    get:
      operationId: getRandomPeople
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getPersonById_200_response'
          description: Returns a random person resource
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - random
      x-accepts: application/json
  /random/users:
    get:
      operationId: getRandomUsers
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRandomUsers_200_response'
          description: Returns a random user profile resource
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - random
      x-accepts: application/json
  /recommendations/anime:
    get:
      operationId: getRecentAnimeRecommendations
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/recommendations'
          description: Returns recent anime recommendations
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - recommendations
      x-accepts: application/json
  /recommendations/manga:
    get:
      operationId: getRecentMangaRecommendations
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/recommendations'
          description: Returns recent manga recommendations
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - recommendations
      x-accepts: application/json
  /reviews/anime:
    get:
      operationId: getRecentAnimeReviews
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Returns recent anime reviews
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - reviews
      x-accepts: application/json
  /reviews/manga:
    get:
      operationId: getRecentMangaReviews
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Returns recent manga reviews
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - reviews
      x-accepts: application/json
  /schedules:
    get:
      operationId: getSchedules
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by day
        explode: true
        in: query
        name: filter
        required: false
        schema:
          enum:
          - monday
          - tuesday
          - wednesday
          - thursday
          - friday
          - unknown
          - other
          type: string
        style: form
      - description: "When supplied, it will filter entries with the `Kids` Genre\
          \ Demographic. When supplied as `kids=true`, it will return only Kid entries\
          \ and when supplied as `kids=false`, it will filter out any Kid entries.\
          \ Defaults to `false`."
        explode: true
        in: query
        name: kids
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: "'Safe For Work'. When supplied, it will filter entries with\
          \ the `Hentai` Genre. When supplied as `sfw=true`, it will return only SFW\
          \ entries and when supplied as `sfw=false`, it will filter out any Hentai\
          \ entries. Defaults to `false`."
        explode: true
        in: query
        name: sfw
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schedules'
          description: Returns weekly schedule
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - schedules
      x-accepts: application/json
  /anime:
    get:
      operationId: getAnimeSearch
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/anime_search_query_type'
        style: form
      - explode: true
        in: query
        name: score
        required: false
        schema:
          type: number
        style: form
      - description: Set a minimum score for results.
        explode: true
        in: query
        name: min_score
        required: false
        schema:
          type: number
        style: form
      - description: Set a maximum score for results
        explode: true
        in: query
        name: max_score
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/anime_search_query_status'
        style: form
      - explode: true
        in: query
        name: rating
        required: false
        schema:
          $ref: '#/components/schemas/anime_search_query_rating'
        style: form
      - description: Filter out Adult entries
        explode: true
        in: query
        name: sfw
        required: false
        schema:
          type: boolean
        style: form
      - description: "Filter by genre(s) IDs. Can pass multiple with a comma as a\
          \ delimiter. e.g 1,2,3"
        explode: true
        in: query
        name: genres
        required: false
        schema:
          type: string
        style: form
      - description: "Exclude genre(s) IDs. Can pass multiple with a comma as a delimiter.\
          \ e.g 1,2,3"
        explode: true
        in: query
        name: genres_exclude
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: order_by
        required: false
        schema:
          $ref: '#/components/schemas/anime_search_query_orderby'
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          $ref: '#/components/schemas/search_query_sort'
        style: form
      - description: Return entries starting with the given letter
        explode: true
        in: query
        name: letter
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by producer(s) IDs. Can pass multiple with a comma as\
          \ a delimiter. e.g 1,2,3"
        explode: true
        in: query
        name: producers
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by starting date. Format: YYYY-MM-DD. e.g `2022`, `2005-05`,\
          \ `2005-01-01`"
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by ending date. Format: YYYY-MM-DD. e.g `2022`, `2005-05`,\
          \ `2005-01-01`"
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anime_search'
          description: Returns search results for anime
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - anime
      x-accepts: application/json
  /manga:
    get:
      operationId: getMangaSearch
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/manga_search_query_type'
        style: form
      - explode: true
        in: query
        name: score
        required: false
        schema:
          type: number
        style: form
      - description: Set a minimum score for results.
        explode: true
        in: query
        name: min_score
        required: false
        schema:
          type: number
        style: form
      - description: Set a maximum score for results
        explode: true
        in: query
        name: max_score
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/manga_search_query_status'
        style: form
      - description: Filter out Adult entries
        explode: true
        in: query
        name: sfw
        required: false
        schema:
          type: boolean
        style: form
      - description: "Filter by genre(s) IDs. Can pass multiple with a comma as a\
          \ delimiter. e.g 1,2,3"
        explode: true
        in: query
        name: genres
        required: false
        schema:
          type: string
        style: form
      - description: "Exclude genre(s) IDs. Can pass multiple with a comma as a delimiter.\
          \ e.g 1,2,3"
        explode: true
        in: query
        name: genres_exclude
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: order_by
        required: false
        schema:
          $ref: '#/components/schemas/manga_search_query_orderby'
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          $ref: '#/components/schemas/search_query_sort'
        style: form
      - description: Return entries starting with the given letter
        explode: true
        in: query
        name: letter
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by magazine(s) IDs. Can pass multiple with a comma as\
          \ a delimiter. e.g 1,2,3"
        explode: true
        in: query
        name: magazines
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by starting date. Format: YYYY-MM-DD. e.g `2022`, `2005-05`,\
          \ `2005-01-01`"
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by ending date. Format: YYYY-MM-DD. e.g `2022`, `2005-05`,\
          \ `2005-01-01`"
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/manga_search'
          description: Returns search results for manga
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - manga
      x-accepts: application/json
  /people:
    get:
      operationId: getPeopleSearch
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: order_by
        required: false
        schema:
          $ref: '#/components/schemas/people_search_query_orderby'
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          $ref: '#/components/schemas/search_query_sort'
        style: form
      - description: Return entries starting with the given letter
        explode: true
        in: query
        name: letter
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/people_search'
          description: Returns search results for people
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - people
      x-accepts: application/json
  /characters:
    get:
      operationId: getCharactersSearch
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: order_by
        required: false
        schema:
          $ref: '#/components/schemas/characters_search_query_orderby'
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          $ref: '#/components/schemas/search_query_sort'
        style: form
      - description: Return entries starting with the given letter
        explode: true
        in: query
        name: letter
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/characters_search'
          description: Returns search results for characters
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - characters
      x-accepts: application/json
  /users:
    get:
      operationId: getUsersSearch
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: gender
        required: false
        schema:
          $ref: '#/components/schemas/users_search_query_gender'
        style: form
      - explode: true
        in: query
        name: location
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: maxAge
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: minAge
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/users_search'
          description: Returns search results for users
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - users
      x-accepts: application/json
  /users/userbyid/{id}:
    get:
      operationId: getUserById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getUserById_200_response'
          description: Returns username by ID search
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - users
      x-accepts: application/json
  /clubs:
    get:
      operationId: getClubsSearch
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/club_search_query_type'
        style: form
      - explode: true
        in: query
        name: category
        required: false
        schema:
          $ref: '#/components/schemas/club_search_query_category'
        style: form
      - explode: true
        in: query
        name: order_by
        required: false
        schema:
          $ref: '#/components/schemas/club_search_query_orderby'
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          $ref: '#/components/schemas/search_query_sort'
        style: form
      - description: Return entries starting with the given letter
        explode: true
        in: query
        name: letter
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clubs_search'
          description: Returns search results for clubs
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - clubs
      x-accepts: application/json
  /producers:
    get:
      operationId: getProducers
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: order_by
        required: false
        schema:
          $ref: '#/components/schemas/producers_query_orderby'
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          $ref: '#/components/schemas/search_query_sort'
        style: form
      - description: Return entries starting with the given letter
        explode: true
        in: query
        name: letter
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/producers'
          description: Returns producers collection
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - producers
      x-accepts: application/json
  /seasons/{year}/{season}:
    get:
      operationId: getSeason
      parameters:
      - explode: false
        in: path
        name: year
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anime_search'
          description: Returns seasonal anime
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - seasons
      x-accepts: application/json
  /seasons/now:
    get:
      operationId: getSeasonNow
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anime_search'
          description: Returns current seasonal anime
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - seasons
      x-accepts: application/json
  /seasons:
    get:
      operationId: getSeasonsList
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/seasons'
          description: Returns available list of seasons
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - seasons
      x-accepts: application/json
  /seasons/upcoming:
    get:
      operationId: getSeasonUpcoming
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anime_search'
          description: Returns upcoming season's anime
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - seasons
      x-accepts: application/json
  /top/anime:
    get:
      operationId: getTopAnime
      parameters:
      - explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/anime_search_query_type'
        style: form
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          enum:
          - airing
          - upcoming
          - bypopularity
          - favorite
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anime_search'
          description: Returns top anime
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - top
      x-accepts: application/json
  /top/manga:
    get:
      operationId: getTopManga
      parameters:
      - explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/manga_search_query_type'
        style: form
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          enum:
          - publishing
          - upcoming
          - bypopularity
          - favorite
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/manga_search'
          description: Returns top manga
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - top
      x-accepts: application/json
  /top/people:
    get:
      operationId: getTopPeople
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/people_search'
          description: Returns top people
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - top
      x-accepts: application/json
  /top/characters:
    get:
      operationId: getTopCharacters
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/characters_search'
          description: Returns top characters
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - top
      x-accepts: application/json
  /top/reviews:
    get:
      operationId: getTopReviews
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTopReviews_200_response'
          description: Returns top reviews
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - top
      x-accepts: application/json
  /users/{username}/full:
    get:
      operationId: getUserFullProfile
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getUserFullProfile_200_response'
          description: Returns complete user resource data
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - users
      x-accepts: application/json
  /users/{username}:
    get:
      operationId: getUserProfile
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRandomUsers_200_response'
          description: Returns user profile
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - users
      x-accepts: application/json
  /users/{username}/statistics:
    get:
      operationId: getUserStatistics
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_statistics'
          description: Returns user statistics
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - users
      x-accepts: application/json
  /users/{username}/favorites:
    get:
      operationId: getUserFavorites
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getUserFavorites_200_response'
          description: Returns user favorites
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - users
      x-accepts: application/json
  /users/{username}/userupdates:
    get:
      operationId: getUserUpdates
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_updates'
          description: Returns user updates
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - users
      x-accepts: application/json
  /users/{username}/about:
    get:
      operationId: getUserAbout
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_about'
          description: Returns user about in raw HTML
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - users
      x-accepts: application/json
  /users/{username}/history:
    get:
      operationId: getUserHistory
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - anime
          - manga
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_history'
          description: Returns user history (past 30 days)
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - users
      x-accepts: application/json
  /users/{username}/friends:
    get:
      operationId: getUserFriends
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_friends'
          description: Returns user friends
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - users
      x-accepts: application/json
  /users/{username}/animelist:
    get:
      deprecated: true
      description: "User Anime lists have been discontinued since May 1st, 2022. <a\
        \ href='https://docs.google.com/document/d/1-6H-agSnqa8Mfmw802UYfGQrceIEnAaEh4uCXAPiX5A'>Read\
        \ more</a>"
      operationId: getUserAnimelist
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Returns user anime list
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - users
      x-accepts: application/json
  /users/{username}/mangalist:
    get:
      deprecated: true
      description: "User Manga lists have been discontinued since May 1st, 2022. <a\
        \ href='https://docs.google.com/document/d/1-6H-agSnqa8Mfmw802UYfGQrceIEnAaEh4uCXAPiX5A'>Read\
        \ more</a>"
      operationId: getUserMangaList
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Returns user manga list
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - users
      x-accepts: application/json
  /users/{username}/reviews:
    get:
      operationId: getUserReviews
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTopReviews_200_response'
          description: Returns user reviews
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - users
      x-accepts: application/json
  /users/{username}/recommendations:
    get:
      operationId: getUserRecommendations
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/recommendations'
          description: Returns Recent Anime Recommendations
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - users
      x-accepts: application/json
  /users/{username}/clubs:
    get:
      operationId: getUserClubs
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_clubs'
          description: Returns user clubs
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - users
      x-accepts: application/json
  /users/{username}/external:
    get:
      operationId: getUserExternal
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/external_links'
          description: Returns user's external links
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - users
      x-accepts: application/json
  /watch/episodes:
    get:
      operationId: getWatchRecentEpisodes
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/watch_episodes'
          description: Returns Recently Added Episodes
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - watch
      x-accepts: application/json
  /watch/episodes/popular:
    get:
      operationId: getWatchPopularEpisodes
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/watch_episodes'
          description: Returns Popular Episodes
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - watch
      x-accepts: application/json
  /watch/promos:
    get:
      operationId: getWatchRecentPromos
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/watch_promos'
          description: Returns Recently Added Promotional Videos
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - watch
      x-accepts: application/json
  /watch/promos/popular:
    get:
      operationId: getWatchPopularPromos
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/watch_promos'
          description: Returns Popular Promotional Videos
        "400":
          description: "Error: Bad request. When required parameters were not supplied."
      tags:
      - watch
      x-accepts: application/json
components:
  parameters:
    page:
      explode: true
      in: query
      name: page
      required: false
      schema:
        type: integer
      style: form
    limit:
      explode: true
      in: query
      name: limit
      required: false
      schema:
        type: integer
      style: form
  responses:
    "400":
      description: "Error: Bad request. When required parameters were not supplied."
  schemas:
    anime_episodes:
      allOf:
      - $ref: '#/components/schemas/anime_episodes_allOf'
      - $ref: '#/components/schemas/pagination'
      description: Anime Episodes Resource
    anime_news:
      allOf:
      - $ref: '#/components/schemas/pagination'
      - $ref: '#/components/schemas/news'
      description: Anime News Resource
    anime_videos_episodes:
      allOf:
      - $ref: '#/components/schemas/anime_videos_episodes_allOf'
      - $ref: '#/components/schemas/pagination'
      description: Anime Videos Episodes Resource
    character_pictures:
      description: Character Pictures
      example:
        data:
        - large_image_url: large_image_url
          image_url: image_url
        - large_image_url: large_image_url
          image_url: image_url
      properties:
        data:
          items:
            $ref: '#/components/schemas/character_pictures_data_inner'
          type: array
      type: object
    club_member:
      description: Club Member
      properties:
        data:
          items:
            $ref: '#/components/schemas/user_images'
          type: array
      type: object
    manga_news:
      allOf:
      - $ref: '#/components/schemas/pagination'
      - $ref: '#/components/schemas/news'
      description: Manga News Resource
    manga_pictures:
      description: Manga Pictures
      example:
        data:
        - jpg:
            large_image_url: large_image_url
            small_image_url: small_image_url
            image_url: image_url
          webp:
            large_image_url: large_image_url
            small_image_url: small_image_url
            image_url: image_url
        - jpg:
            large_image_url: large_image_url
            small_image_url: small_image_url
            image_url: image_url
          webp:
            large_image_url: large_image_url
            small_image_url: small_image_url
            image_url: image_url
      properties:
        data:
          items:
            $ref: '#/components/schemas/manga_images'
          type: array
      type: object
    person_pictures:
      description: Character Pictures
      example:
        data:
        - jpg:
            image_url: image_url
        - jpg:
            image_url: image_url
      properties:
        data:
          items:
            $ref: '#/components/schemas/people_images'
          type: array
      type: object
    random:
      description: Random Resources
      properties:
        data:
          items:
            $ref: '#/components/schemas/random_data_inner'
          type: array
      type: object
    schedules:
      allOf:
      - $ref: '#/components/schemas/schedules_allOf'
      - $ref: '#/components/schemas/pagination_plus'
      description: Anime resources currently airing
    search_query_sort:
      description: Characters Search Query Sort
      enum:
      - desc
      - asc
      type: string
    users_search:
      allOf:
      - $ref: '#/components/schemas/users_search_allOf'
      - $ref: '#/components/schemas/pagination'
      description: User Results
    seasons:
      description: List of available seasons
      example:
        data:
        - seasons:
          - seasons
          - seasons
          year: 0
        - seasons:
          - seasons
          - seasons
          year: 0
      properties:
        data:
          items:
            $ref: '#/components/schemas/seasons_data_inner'
          type: array
      type: object
    reviews_collection:
      description: Anime & Manga Reviews Resource
      properties:
        data:
          items:
            $ref: '#/components/schemas/reviews_collection_data_inner'
          type: array
      type: object
    user_friends:
      allOf:
      - $ref: '#/components/schemas/user_friends_allOf'
      - $ref: '#/components/schemas/pagination'
      description: User Friends
    user_clubs:
      allOf:
      - $ref: '#/components/schemas/user_clubs_allOf'
      - $ref: '#/components/schemas/pagination'
      description: User Clubs
    watch_episodes:
      allOf:
      - $ref: '#/components/schemas/watch_episodes_allOf'
      - $ref: '#/components/schemas/pagination'
      description: Watch Episodes
    watch_promos:
      allOf:
      - $ref: '#/components/schemas/pagination'
      - allOf:
        - properties:
            title:
              description: Promo Title
              type: string
          type: object
        - properties:
            data:
              items:
                properties:
                  entry:
                    $ref: '#/components/schemas/anime_meta'
                  trailer:
                    items:
                      $ref: '#/components/schemas/trailer'
                    type: array
                type: object
              type: array
          type: object
      description: Watch Promos
    anime_search_query_type:
      description: Available Anime types
      enum:
      - tv
      - movie
      - ova
      - special
      - ona
      - music
      type: string
    anime_search_query_status:
      description: Available Anime statuses
      enum:
      - airing
      - complete
      - upcoming
      type: string
    anime_search_query_rating:
      description: Available Anime audience ratings<br><br><b>Ratings</b><br><ul><li>G
        - All Ages</li><li>PG - Children</li><li>PG-13 - Teens 13 or older</li><li>R
        - 17+ (violence & profanity)</li><li>R+ - Mild Nudity</li><li>Rx - Hentai</li></ul>
      enum:
      - g
      - pg
      - pg13
      - r17
      - r
      - rx
      type: string
    anime_search_query_orderby:
      description: Available Anime order_by properties
      enum:
      - mal_id
      - title
      - type
      - rating
      - start_date
      - end_date
      - episodes
      - score
      - scored_by
      - rank
      - popularity
      - members
      - favorites
      type: string
    characters_search_query_orderby:
      description: Available Character order_by properties
      enum:
      - mal_id
      - name
      - favorites
      type: string
    club_search_query_type:
      description: Club Search Query Type
      enum:
      - public
      - private
      - secret
      type: string
    club_search_query_category:
      description: Club Search Query Category
      enum:
      - anime
      - manga
      - actors_and_artists
      - characters
      - cities_and_neighborhoods
      - companies
      - conventions
      - games
      - japan
      - music
      - other
      - schools
      type: string
    club_search_query_orderby:
      description: Club Search Query OrderBy
      enum:
      - mal_id
      - title
      - members_count
      - pictures_count
      - created
      type: string
    magazines_query_orderby:
      description: Order by magazine data
      enum:
      - mal_id
      - name
      - count
      type: string
    manga_search_query_type:
      description: Available Manga types
      enum:
      - manga
      - novel
      - lightnovel
      - oneshot
      - doujin
      - manhwa
      - manhua
      type: string
    manga_search_query_status:
      description: Available Manga statuses
      enum:
      - publishing
      - complete
      - hiatus
      - discontinued
      - upcoming
      type: string
    manga_search_query_orderby:
      description: Available Manga order_by properties
      enum:
      - mal_id
      - title
      - start_date
      - end_date
      - chapters
      - volumes
      - score
      - scored_by
      - rank
      - popularity
      - members
      - favorites
      type: string
    people_search_query_orderby:
      description: Available People order_by properties
      enum:
      - mal_id
      - name
      - birthday
      - favorites
      type: string
    producers_query_orderby:
      description: Order by producers data
      enum:
      - mal_id
      - name
      - count
      - favorites
      - established
      type: string
    users_search_query_gender:
      description: Users Search Query Gender
      enum:
      - any
      - male
      - female
      - nonbinary
      type: string
    anime_characters:
      description: Anime Characters Resource
      example:
        data:
        - character:
            images:
              jpg:
                small_image_url: small_image_url
                image_url: image_url
              webp:
                small_image_url: small_image_url
                image_url: image_url
            name: name
            mal_id: 0
            url: url
          role: role
          voice_actors:
          - person:
              images:
                jpg:
                  image_url: image_url
              name: name
              mal_id: 6
              url: url
            language: language
          - person:
              images:
                jpg:
                  image_url: image_url
              name: name
              mal_id: 6
              url: url
            language: language
        - character:
            images:
              jpg:
                small_image_url: small_image_url
                image_url: image_url
              webp:
                small_image_url: small_image_url
                image_url: image_url
            name: name
            mal_id: 0
            url: url
          role: role
          voice_actors:
          - person:
              images:
                jpg:
                  image_url: image_url
              name: name
              mal_id: 6
              url: url
            language: language
          - person:
              images:
                jpg:
                  image_url: image_url
              name: name
              mal_id: 6
              url: url
            language: language
      properties:
        data:
          items:
            $ref: '#/components/schemas/anime_characters_data_inner'
          type: array
      type: object
    anime_search:
      allOf:
      - $ref: '#/components/schemas/schedules_allOf'
      - $ref: '#/components/schemas/pagination_plus'
      description: Anime Collection Resource
    anime_episode:
      description: Anime Episode Resource
      example:
        title_japanese: title_japanese
        duration: 6
        aired: aired
        title_romanji: title_romanji
        filler: true
        recap: true
        mal_id: 0
        synopsis: synopsis
        title: title
        url: url
      properties:
        mal_id:
          description: MyAnimeList ID
          type: integer
        url:
          description: MyAnimeList URL
          type: string
        title:
          description: Title
          type: string
        title_japanese:
          description: Title Japanese
          nullable: true
          type: string
        title_romanji:
          description: title_romanji
          nullable: true
          type: string
        duration:
          description: Episode duration in seconds
          nullable: true
          type: integer
        aired:
          description: Aired Date ISO8601
          nullable: true
          type: string
        filler:
          description: Filler episode
          type: boolean
        recap:
          description: Recap episode
          type: boolean
        synopsis:
          description: Episode Synopsis
          nullable: true
          type: string
      type: object
    anime_full:
      description: Full anime Resource
      example:
        title_japanese: title_japanese
        favorites: 1
        broadcast:
          string: string
          timezone: timezone
          time: time
          day: day
        year: 1
        rating: G - All Ages
        scored_by: 2
        title_synonyms:
        - title_synonyms
        - title_synonyms
        source: source
        title: title
        type: TV
        trailer:
          embed_url: embed_url
          youtube_id: youtube_id
          url: url
        duration: duration
        score: 3.6160767
        themes:
        - name: name
          mal_id: 6
          type: type
          url: url
        - name: name
          mal_id: 6
          type: type
          url: url
        approved: true
        streaming:
        - name: name
          url: url
        - name: name
          url: url
        genres:
        - name: name
          mal_id: 6
          type: type
          url: url
        - name: name
          mal_id: 6
          type: type
          url: url
        popularity: 7
        members: 1
        title_english: title_english
        rank: 4
        season: summer
        theme:
          endings:
          - endings
          - endings
          openings:
          - openings
          - openings
        airing: true
        episodes: 6
        aired:
          prop:
            string: string
            from:
              month: 5
              year: 5
              day: 1
            to:
              month: 7
              year: 9
              day: 2
          from: from
          to: to
        images:
          jpg:
            large_image_url: large_image_url
            small_image_url: small_image_url
            image_url: image_url
          webp:
            large_image_url: large_image_url
            small_image_url: small_image_url
            image_url: image_url
        studios:
        - name: name
          mal_id: 6
          type: type
          url: url
        - name: name
          mal_id: 6
          type: type
          url: url
        mal_id: 0
        titles:
        - type: type
          title: title
        - type: type
          title: title
        synopsis: synopsis
        explicit_genres:
        - name: name
          mal_id: 6
          type: type
          url: url
        - name: name
          mal_id: 6
          type: type
          url: url
        licensors:
        - name: name
          mal_id: 6
          type: type
          url: url
        - name: name
          mal_id: 6
          type: type
          url: url
        url: url
        producers:
        - name: name
          mal_id: 6
          type: type
          url: url
        - name: name
          mal_id: 6
          type: type
          url: url
        external:
        - name: name
          url: url
        - name: name
          url: url
        background: background
        relations:
        - entry:
          - name: name
            mal_id: 6
            type: type
            url: url
          - name: name
            mal_id: 6
            type: type
            url: url
          relation: relation
        - entry:
          - name: name
            mal_id: 6
            type: type
            url: url
          - name: name
            mal_id: 6
            type: type
            url: url
          relation: relation
        status: Finished Airing
        demographics:
        - name: name
          mal_id: 6
          type: type
          url: url
        - name: name
          mal_id: 6
          type: type
          url: url
      properties:
        mal_id:
          description: MyAnimeList ID
          type: integer
        url:
          description: MyAnimeList URL
          type: string
        images:
          $ref: '#/components/schemas/anime_images'
        trailer:
          $ref: '#/components/schemas/trailer_base'
        approved:
          description: Whether the entry is pending approval on MAL or not
          type: boolean
        titles:
          description: All titles
          items:
            $ref: '#/components/schemas/title'
          type: array
        title:
          deprecated: true
          description: Title
[...]
